<div class="parent-container">
  <div class="header">Where in the world?</div>

  <div class="search-options">
    <div>
      <label for="country">Search by Country:</label>
      <input
        type="text"
        id="search"
        placeholder="Search country..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterData()"
      />
    </div>

    <div>
      <label for="region">Filter by Region:</label>
      <select
        id="region"
        [(ngModel)]="selectedRegion"
        (change)="filterData()"
        class="searchable-select"
      >
        <option value="">All</option>
        <option *ngFor="let region of uniqueRegions" [value]="region">
          {{ region }}
        </option>
      </select>
    </div>
  </div>

  <div class="card-container">
    <div *ngFor="let item of filteredData">
      <app-box [userData]="item"></app-box>
    </div>
  </div>
</div>
